{{ attach_library('asheville_theme/heading') }}

{{ title_prefix }}
  <h{{ heading.heading_level|default('2') }}
    class="heading{{ heading.modifier ? ' ' ~ heading.modifier }}
    {{- attributes ? ' ' ~ attributes.class -}}"
    {{- attributes ? attributes|without(class) -}}>
    {% if heading.url %}
      <a href="{{ heading.url }}" class="heading__link">
        {{ heading.title }}
      </a>
    {% else %}
      {{ heading.title }}
    {% endif %}
  </h{{ heading.heading_level|default('2') }}>
{{ title_suffix }}
