{{ attach_library('asheville_theme/card') }}

<article class="card{{ modifier ? ' ' ~ modifier }}
  {{ attributes ? attributes.class }}"
  {{ attributes ? attributes|without(class) }}>

  {% if image %}
    <div class="card__image">
      {{ image }}
    </div>
  {% endif %}

  {% if heading or body or eyebrow %}
    <div class="card__content">
      {% if eyebrow %}
        {%
          include '@asheville_theme/eyebrow/eyebrow.twig' with {
            "eyebrow": eyebrow,
          } only
        %}
      {% endif %}

      {% if heading %}
        {{ title_prefix }}
        {%
          include '@asheville_theme/heading/heading.twig' with {
            "heading": heading,
          } only
        %}
        {{ titile_suffix }}
      {% endif %}

      {% if intro %}
        <div class="card__intro">
          {{ intro }}
        </div>
      {% endif %}

      {% if items %}
        <ul class="card__topics">
          {% for item in items %}
            <li class="card__topic">
              {{ item.topic }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if audience %}
        <div class="card__audience">
          {{ 'This training is best for:'|t }}
          <div class="card__audience--role">
            {{ audience }}
          </div>
        </div>
      {% endif %}

      {% if register %}
        <div class="card__ctas">
          {% if register %}
            {%
              include '@asheville_theme/button/button.twig' with {
                "button": register,
              } only
            %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</article>
